@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
}

@font-face {
  font-family: "monaspace-krypton";
  src: url("fonts/MonaspaceKrypton-Medium.woff") format("woff");
}

@font-face {
  font-family: "monaspace-neon";
  src: url("fonts/MonaspaceNeon-Medium.woff") format("woff");
}
