@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

p {
  font-family: "Inter";
}

:root {
  --background-color-primary: #242424;
  --background-color-secondary: #333333;
  --text-color: white;
  background-color: var(--background-color-primary);
  color: var(--text-color);
  transition-property: background-color;
  transition-duration: 0.15s;
}

:root.light {
  --background-color-primary: white;
  --background-color-secondary: #f1f3f4;
  --text-color: black;
  background-color: var(--background-color-primary);
  color: var(--text-color);
  transition-property: background-color;
  transition-duration: 0.15s;
}

@font-face {
  font-family: "monaspace-neon";
  font-weight: 400;
  src: url("fonts/MonaspaceNeon-Regular.woff") format("woff");
}

@font-face {
  font-family: "monaspace-neon";
  font-weight: 300;
  src: url("fonts/MonaspaceNeon-Light.woff") format("woff");
}
